* {
    box-sizing: border-box;
}

.jumbotron-fluid {
    background-image: url("/images/assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 670px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.jumbotron-fluid>.logo>h1>h1>h6 {
    position: relative;
    top: 33%;
}

.jumbotron-fluid > .logo, .welcome {
    margin-bottom: 30px;
}


.delani, h4 {
    text-transform: uppercase;
}
.services {
    background-image: url("/images/assets/backgrounds/s_image.jpg");
    background-size: cover;
    color: white;
    height: 250px;
}
body {
    margin: 0;
    padding: 0;
}
.container.fluid {
    margin: 0;
    padding: 0;
}
.mouse-click {
    margin-top: 290px;
}

.about {
    height: 270px;
}

.what-we-do {
    padding-left: 15%;
}


/* #porfolio {
    float: right;
    position: relative;
    margin: 5px;
    width: auto;
    height: 100%;
    bottom: 0;
    padding: 30px;
} */
/* #portfolio {
    float: left;
    /* position: relative; */
    /* margin: 5px;
    display: flex;
    flex-direction: row;
} */ 
/* img {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
} */

/* #portfolio .portfolio-text {
    display: none;
    opacity: 2;
    background-color: rgba(255, 255, 255, 0.6);
    width: auto;
    /* position: absolute; */
    /* bottom: 0;
    text-align: center;
    padding: 30px;
} */ */




.contact #contact {
    background-image: url("/images/assets/backgrounds/h_img.jpg");
}

.social #social-icons {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

textarea{
    /* background-color: rgb(34, 33, 33); */
    /* backface-visibility: visible; */
    color: teal;
    opacity: 0.7;
    /* resize: none; */
}

#portfolio-img{
    position: relative;
}

.portfolio-text{
    position: absolute;
    height: 0;
    width: 66%;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .9);
    color: white;
    text-align: center;
    transition: 1s; 
    opacity: 0;
    
}

.text-port{
    padding-top: 30%;
}

#portfolio:hover .portfolio-text{
   height: 100%;
    opacity: 1;
}

.social {
    padding-left: 32%;
}

