* {
  box-sizing: border-box;
}

.jumbotron-fluid {
  background-image: url("../images/backgrounds/h_img.jpg");
  background-size: cover;
  height: 780px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.logo {
  margin-top: 210px;
}

.delani,
h4 {
  text-transform: uppercase;
}

.services {
  background-image: url("../images/backgrounds/s_image.jpg");
  background-size: cover;
  color: white;
  height: 250px;
}

body {
  margin: 0;
  padding: 0;
}

.container.fluid {
  margin: 0;
  padding: 0;
}

#mouse-click {
  margin-top: 250px;
}

.about {
  height: 270px;
}

#what-we-do {
  height: 360px;
}

.social #social-icons {
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
#product,
#development,
#design {
  display: none;
}

.service-icons {
  padding-left: 15%;
}

textarea,
input {
  background-color: white;
  opacity: 0.4;
}

#portfolio-img {
  position: relative;
}

.portfolio-text {
  position: absolute;
  height: 0;
  width: 89%;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  transition: 1s;
  opacity: 0;
}

.text-port {
  padding-top: 30%;
}

#portfolio:hover .portfolio-text {
  height: 100%;
  opacity: 1;
}

.social {
  padding-left: 32%;
}

.portfolio {
  padding-left: 1%;
  position: relative;
}

.contact {
  background-image: url("../images/backgrounds/c_image.jpg");
  background-size: cover;
}
